.card {
    width: 327px;
    height: 474px;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.text-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 16px;
    position: absolute;
    width: 327px;
    height: 222px;
    left: calc(50% - 327px/2);
    bottom: 0px;
    background: #FFFFFF;
    border-radius: 8px;
}

.title-text {
    width: 295px;
    height: 57px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #3A4A42;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 305px;
    height: 32px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.tag1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;

    width: 103px;
    height: 32px;

    /* Theme 2 / Neutral 10 */

    background: #EBF0EE;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.tag-name1 {
    width: 79px;
    height: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: 0.03em;

    /* Theme 2 / Neutral 2 */

    color: #3A4A42;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.tag2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;

    width: 45px;
    height: 32px;

    /* Theme 2 / Neutral 10 */

    background: #EBF0EE;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.tag-name2 {
    width: 21px;
    height: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: 0.03em;

    /* Theme 2 / Neutral 2 */

    color: #3A4A42;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.tag3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;

    width: 82px;
    height: 32px;

    /* Theme 2 / Neutral 10 */

    background: #EBF0EE;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.tag-name3 {
    width: 58px;
    height: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: 0.03em;

    /* Theme 2 / Neutral 2 */

    color: #3A4A42;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.tag4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;

    width: 51px;
    height: 32px;

    /* Theme 2 / Neutral 10 */

    background: #EBF0EE;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

.tag-name4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;

    width: 51px;
    height: 32px;

    /* Theme 2 / Neutral 10 */

    background: #EBF0EE;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

.actions {
    width: 305px;
    height: 69px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;

    position: absolute;
    width: 122px;
    height: 48px;
    left: calc(50% - 122px/2 + 0.5px);
    bottom: 8px;

    /* Theme 2 / Primary 2 */

    background: #36B37F;
    border-radius: 4px;
}