html {
  box-sizing: border-box;
}

.toolbar {
  height: 74px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  position: absolute;
  width: 255px;
  height: 40px;
  left: 591px;
  top: 16px;
}