html {
  box-sizing: border-box;
}
body {
  background: #E5E5E5;
}
.toolbar {
  position: absolute;
  width: 1440px;
  height: 74px;
  left: 0;
  top: 0;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  position: absolute;
  width: 255px;
  height: 40px;
  left: 591px;
  top: 16px;
}

a {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}
